{% if user.is_authenticated %}
Wellcome back,
    {% if user.first_name != '' %}
        {{ user.first_name}}
    {% else %}
        {{ user.username.title }}
    {% endif %}
    <a href="{% url 'logout' %}">logout</a> 
{% else %}
Please <a href="{% url 'login'%}">login</a> to vote for a topic.
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
